<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
  
  <h1>About</h1>
  <p>same info about me</p>
  <button onclick="paintIt(this, '#990000')">Paint it red</button>
  <br>

  <a href="#" data-background-color="#990000">Paint it red</a>
  <a href="#" data-background-color="#009900" data-text-color="#FFFFFF">Paint it green</a>
  <a href="#" data-background-color="#000099" data-text-color="#FFFFFF">Paint it blue</a>

  <p>My <%= link_to "VK", "https://vk.com/id186221804" %></p>
</body>
